.overlay {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 1;

   p {
    font-size: 16px;
    text-align: center;
    color: #000000;
    opacity: 0.4;
    margin-top: 9px;
   }

   h2 {
     font-weight: 600;
     font-size: 22px;
     color: #000000;
   }

   
  .greenButtonBack {
    width: 100%;
    height: 55px;
    background: #9dd558;
    border-radius: 18px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background .2s ease-in-out;
    position: relative;

    &:hover {
      img {
        transform: translateX(-5px);
      }
    }

    img {
      position: absolute;
      left: 70px;
      transition: transform .2s ease-in-out;
    }

    &:hover {
      background: lighten($color: #9dd558, $amount: 5%);
    }

    &:active {
      background: darken($color: #9dd558, $amount: 5%);
    }
  }
 }
 
 .drawer {
   position: absolute;
   right: 0;
   width: 420px;
   height: 100%;
 
   background: #FFFFFF;
   box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
   padding: 30px;
 

 
   h2 {
     margin: 0;
     font-size: 24px;
   }

   .items {
    margin-bottom: 40px;
    overflow: auto;
  }
 }

 
 .cartItem {
   border: 1px solid #f3f3f3;
   border-radius: 20px;
   overflow: hidden;
   padding: 20px;
 
   p {
     font-size: 16px;
     margin: 0;
   }
 
   b {
     font-size: 14px;
   }
 }
 
 .removeBtn {
   opacity: 0.5;
   transition: opacity 0.2s ease-in-out;
 
   &:hover {
     opacity: 1;
     cursor: pointer;
   }
 }
 
 .cartTotalBlock {
   ul {
     margin-bottom: 40px !important;
 
     li {
       display: flex;
       align-items: flex-end;
     }
   
     div {
       flex: 1;
       height: 1px;
       border-bottom: 1px dashed #dfdfdf;
       position: relative;
       top: -4px;
       margin: 0 7px;
     }
   }
 
   .greenButton {
     position: relative;
     
     &:hover {
       img {
         transform: translateX(5px);
       }
     }
 
     img {
       position: absolute;
       right: 30px;
       top: 22px;
       transition: transform .2s ease-in-out;
     }
   }
 }
 
 .greenButton {
     width: 100%;
     height: 55px;
     background: #9dd558;
     border-radius: 18px;
     border: none;
     color: #fff;
     font-size: 16px;
     font-weight: 500;
     cursor: pointer;
     transition: background .2s ease-in-out;
 
     &:hover {
       background: lighten($color: #9dd558, $amount: 5%);
     }
 
     &:active {
       background: darken($color: #9dd558, $amount: 5%);
     }
 }


